.DS_Store
.idea
.ipynb_checkpoints
__pycache__/
*.egg-info/
*.pyc
*.pyo
*.so
*.egg
*.log
*backup.json
backup/
slurm_*
data/
ckpt/
ckpt_tom/
cache/
checkpoint/
build/
logs/
wandb/
figures/
results/
config/
slurm/
sbatch-scripts/log/
unsloth_compiled_cache/
*.out
*.err
